# Global ignores
/node_modules
/vendor
/.env
/.env.*
/storage

# Backend
/backend/vendor
/backend/node_modules
/backend/storage/*.key
/backend/storage/framework/cache/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*
/backend/.env

# Frontend
/frontend/node_modules
/frontend/dist
/frontend/.env

# Tooling
/.idea
/.vscode
.DS_Store
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
